<%= bootstrap_flash %>

<div class="map" id="map"></div>

<div id="address-modal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Location specificity</h4>
      </div>

      <div class="address-components">
      </div>
    </div>
  </div>
</div>
