<%= bootstrap_flash %>

<div class="map" id="map"></div>

<div id="address-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      TESTEST
    </div>
  </div>
</div>
