<section id="home" data-type="background" data-speed="10" class="pages">
  <article>I am absolute positioned</article>
</section>

<section id="about" data-type="background" data-speed="10" class="pages">
  <article>Simple Parallax Scroll</article>
</section>