/*
 *= require_tree .
 *= require_self
 */

html, body {
  min-height: 100% !important;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  padding-bottom: 30px;
  padding-top: 74px;
}

.navbar-default {
  margin-top: -74px;
  background-color: #428bca;
  border-color: #357ebd;

  width: 100%;
  position: fixed;
}

.navbar-brand {
  padding: 5px 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  max-width: 330px;
  padding: 0 15px;
  margin: 0 auto;
}

.alert {
  margin-bottom: 0px;
}

.log-out {
  color: white;
  font-size: x-large;
  margin-top: 13px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn-primary.social {
  font-size: 44px;
  margin-top: 0px;

  &:hover {
    margin-top: 1px;
  }

  &.social-twitter {
    margin-left: 0px;
  }

  &.social-google-plus {
    float: right;
  }

  &.social-facebook {
    float: left;
  }
}

