/*
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  background-color: #eee;
  margin-bottom: 30px;
  min-height: 100%;
}

.navbar-default {
  background-color: #428bca;
  border-color: #357ebd;

  .input-group {
    margin-top: 7px;

    .form-control {
      width: 20%;
      float: right;

      &:focus {
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      }

      &[type=email] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &[type=password] {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }

  .input-group-btn {
    height: 39px;
    margin-top: 5px;

    .btn {
      margin-top: -1px;
      height: 38px;

      &:hover {
        margin-top: 0px;
        height: 37px;
      }
    }

    .dropdown-menu {
      margin-top: -1px;
    }
  }
}

.navbar-brand {
  padding: 5px 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  max-width: 330px;
  padding: 0 15px;
  margin: 0 auto;
}

.alert {
  margin-bottom: 0px;
}

.log-out {
  color: white;
  font-size: x-large;
  margin-top: 13px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn-primary.social {
  font-size: 44px;
  margin-top: 0px;

  &:hover {
    margin-top: 1px;
  }

  &.social-twitter {
    margin-left: 0px;
  }

  &.social-google-plus {
    float: right;
  }

  &.social-facebook {
    float: left;
  }
}

