/*
 *= require_tree .
 *= require_self
 */

body {
  background-color: #eee;
}

.navbar-default {
  background-color: #428bca;
  border-color: #357ebd;
}

.navbar-brand {
  padding: 5px 5px;
}

footer {
  position: absolute;
  bottom: 0px;
  max-width: 330px;
  padding: 0 15px;
  margin: 0 auto;
}
