/*
 *= require_tree .
 *= require_self
 */

body {
  background-color: #eee;
  margin-bottom: 30px;
}

.navbar-default {
  background-color: #428bca;
  border-color: #357ebd;

  .input-group {
    .form-control {
      width: 30%;
      float: right;
    }
  }

  .input-group-btn {
    height: 39px;
    margin-top: 5px;

    .btn {
      height: 38px;
    }
  }
}

.navbar-brand {
  padding: 5px 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  max-width: 330px;
  padding: 0 15px;
  margin: 0 auto;
}
