.dropdown {
  .dropdown-toggle {
    color: white;
    margin-top: 14px;
    font-size: x-large;

    &:hover {
      cursor: pointer;
      color: white;
      text-decoration: none;
    }
  }

  .dropdown-menu {
    margin-top: 6px;
  }
}

.map {
  min-height: 100% !important;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

#map.leaflet-container {
  background: transparent;
}

div.map-search.navbar-form {
  width: 80%;
  padding-left: 83px;

  .form-group {
    width: 100%;

    .search-icon {
      color: #999999;
      margin-left: -20px;
      margin-top: 11px;
    }
  }
}

