.dropdown {
  .dropdown-toggle {
    color: white;
    margin-top: 14px;
    font-size: x-large;

    &:hover {
      cursor: pointer;
      color: white;
      text-decoration: none;
    }
  }

  .dropdown-menu {
    margin-top: 6px;
  }
}
