<p>Welcome <%= @email %> :) I'm Victor!</p>

<p>Are you a human? ... or a computer than can open an email and follow a link?</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
