<div class="container">
  <%= bootstrap_flash %>

  <%= form_for(:account,
    html: {
      url: account_path,
      class: 'form-auth'
    }) do |f| %>
    <h2 class="form-auth-heading">Choose a subdomain</h2>

    <div class="wrap">
      <input class="mirror-input form-control">
      <%= f.text_field :subdomain, class: 'form-control subdomain-field', autocomplete: 'off', placeholder: 'subdomain.knowmad.in' %>
    </div>

    <%= f.submit 'Save', class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>
